 body {
	font-family: 'Space Mono', monospace;
  	background-color: #152347;
	color: white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.yellow-highlight{
	color: yellow;
}

#container{
	margin-top: 4rem;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	flex: 1;
}
.wrapper{
	border-radius: 10px;
	background-color: #1d2c4e;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	margin-left: 4rem;
	width: 375px;
	min-width: 375px;
}
.wrapper > h1{
	padding: 1rem;
	font-size: 1.8rem;
}
.wrapper > p{
	margin-top: -1rem;
	padding: 0 1rem;
	font-size: 0.9rem;
}
.wrapper:hover{
	transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
	box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}
.main{
	width: 100vw;
	height: 100vh;
}
.bg1{
	content: url('img/bg1.png');
	position: absolute;
	z-index: -1;
	left: 0;
}
.bg2{
	content: url('img/bg2.png');
	position: absolute;
	z-index: -1;
	right: 0;
}
.logo{
	padding: 1rem;
}
.containLogo{
	position: absolute;
	right: 50px;
	top: 15px;
	margin-top: 20px;
}
.about{
	font-family: 'Roboto Mono';
	font-size: 1.6vw;
	position: absolute;
	width: 70vw;
	bottom: 4rem;
	left: 4rem;
	letter-spacing: 10px;
}
@media only screen and (max-width: 1300px){
	#container{
		justify-content: center;
	}
	.wrapper{
		margin: 1rem;
	}
	.wrapper > p{
		font-size: 2.3vw;
		text-align: right;
	}
	.about{
		font-family: 'Space Mono';
		font-size: 1rem;
		text-align: center;
		position: absolute;
		width: 100vw;
		bottom: 0rem;
		left: unset;
		top: 30%;
		letter-spacing: 0px;
	}
	.containLogo{
		position: initial;
		width: 100vw;
		text-align: center;
	}
	.logo{
		padding: 0.2rem;
		width: 100vw;
		max-width: 500px;
		height: auto;
	}
	.main{
		height: 60vh;
	}
	body{
		overflow-x: hidden;
	}
}