.main {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Space Mono', monospace !important;
    background-color: #152347 !important;
    color: white !important;
}

.yellow-highlight {
    color: yellow;
}

.logo {
    padding: 0.2rem;
    width: 100vw;
    max-width: 500px;
    height: auto;
}

.bg1 {
    background-image: url('img/bg1.png');
    z-index: -1;
    background-position: left;
    background-origin: padding-box;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url('img/bg2.png');
    z-index: -1;
    background-position: right;
    background-repeat: no-repeat;
    height: 20%;
}

#about {
    font-family: 'Roboto Mono' !important;
    font-size: 1.6rem !important;
    width: 70vw !important;
    padding: 50px;
}

@media only screen and (min-width: 500px) and (max-width: 800px) {
    #container {
        justify-content: center;
    }
    .wrapper {
        margin: 1rem;
    }
    .wrapper>p {
        font-size: 2.3vw;
        text-align: right;
    }
    #about {
        padding: 20px;
    }
}

@media only screen and (max-width: 499px) {
    #container {
        justify-content: center;
    }
    .wrapper {
        margin: 1rem;
    }
    .wrapper>p {
        font-size: 2.3vw;
        text-align: right;
    }
    #about {
        padding: 5px;
    }
}

.containLogo {
    content: url('img/logo.svg');
    padding: 20px;
}

#container {
    margin-top: 4rem;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1;
}

.wrapper {
    border-radius: 10px;
    background-color: #1d2c4e;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 4rem;
    width: 375px;
    min-width: 375px;
}

.wrapper>h1 {
    padding: 1rem;
    font-size: 1.8rem;
}

.wrapper>p {
    margin-top: -1rem;
    padding: 0 1rem;
    font-size: 0.9rem;
}

.wrapper:hover {
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}